<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT" value="" />
		<add key="AZURE_DOCUMENT_INTELLIGENCE_KEY" value="" />
		<add key="AZURE_OPENAI_GPT4V_ENDPOINT" value=""/>
		<add key="AZURE_OPENAI_GPT4V_KEY" value="" />
	</appSettings>
</configuration>