<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT" value="Your Azure Document Intelligence resource's endpoint value" />
		<add key="AZURE_DOCUMENT_INTELLIGENCE_KEY" value="Your Azure Document Intelligence resource's key value" />
	</appSettings>
</configuration>